<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Configuration Values</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var counterElement = document.getElementById("counter");
            var counterValue = parseInt(counterElement.innerText);

            function updateCounter() {
                if (counterValue > 0) {
                    counterValue -= 1;
                    counterElement.innerText = counterValue;
                } else {
                    location.reload();
                }
            }

            setInterval(updateCounter, 1000); // Update every second
        });
    </script>
</head>
<body class="container mt-5">
    <h1 class="display-4">Configuration Values</h1>
    <div class="p-3 mb-2 bg-light text-dark">
        <strong>Example API Key:</strong> <span th:text="${apiKey}"></span>
    </div>
    <div class="p-3 mb-2 bg-light text-dark">
        <strong>Example Secret Data:</strong> <span th:text="${secretData}"></span>
    </div>
    <div class="p-3 mb-2 bg-light text-dark">
        <strong>Postgres Username:</strong> <span th:text="${postgresUsername}"></span>
    </div>
    <div class="p-3 mb-2 bg-light text-dark">
        <strong>Postgres Password:</strong> <span th:text="${postgresPassword}"></span>
    </div>
    <p>Page refreshes in: <span id="counter" th:text="${counter}"></span></p>
</body>
</html>
